.todos {
  &__title {
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  .newtodo-input {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;

    input {
      padding: 0.25rem 1rem;
    }
  }

  .todoslist {
    &__item {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
    }
  }

  .todo--completed {
    text-decoration: line-through;
  }
}
